{% extends 'AppBundle::modal.html.twig' %}

{% block title %}
	Usuwanie typu miejsca {{ placeType.name }}
{% endblock %}

{% block body %}
	Czy jesteś pewien, że chcesz typ miejsca {{ placeType.name }}?
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-danger" onclick="ajax(this, '{{ path('app_administration_dictionary_place_type_delete', {'id': placeType.id}) }}', 'DELETE', '{{ path('app_administration_dictionary_place_types_table') }}', 'content');">Delete</button>
{% endblock %}
