{% extends 'AppBundle::modal.html.twig' %}

{% block title %}
	Dodawanie miejsca
{% endblock %}

{% block body %}
	{{ form(form) }}
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{% endblock %}
