{% extends 'AppBundle::modal.html.twig' %}

{% block title %}
	Usuwanie użytkownika {{ user.username }}
{% endblock %}

{% block body %}
	Czy jesteś pewien, że chcesz usunąć użytkownika {{ user.username }}?
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-danger" onclick="ajax(this, '{{ path('app_administration_user_delete', {'id': user.id}) }}')">Delete</button>
{% endblock %}
